asgiref==3.2.7
asn1crypto==0.24.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
dj-database-url==0.5.0
Django==3.1.12
django-crispy-forms==1.8.1
django-heroku==0.3.1
gunicorn==20.0.4
idna==2.9
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.1
psycopg2==2.8.5
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2019.3
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.9
whitenoise==5.0.1
win-inet-pton==1.1.0
wincertstore==0.2
