body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFF0;
}

main {
  flex: 1 0 auto;
  margin-top: 10px;
    z-index: 0;
}
header{
  width: 100%;
  z-index: 1;
  position: absolute;
}
html {
  scroll-behavior:smooth;
 }
.card-action {
padding: 5px 7px !important;
}
.card{
  height: 99%;
    margin-bottom: 0px;
}
.img#Logo{
  height: 10vh;
  margin: 7px 10px;
}
.card .card-title {
    font-size: 90%;
  }

#reveal{
  padding:10px;
}
#dropdown{
  margin-top: 70px;
  text-align: center;
}
#dropdownbtn{
  width:100%;
  font-size: large;
  font-weight: 600;
}
.dropdown-content{
  z-index: 2;
}

.sidenav{
  width: 60%;
  padding-bottom: 0px;
  height: fit-content;
  border-radius: 5px;
  margin-top: 60px;
  display: flex;
align-items: center;
flex-flow: wrap;
}



.sidenav li{
  width:100%!important;
}
.sidenav li>a{
  color:#26a69a;
  text-align: left;
  padding-right: 0px;
  padding-left: 4%;
  line-height: 60px;
}
.sidenav li>a>i.material-icons{
  color: #26a69a;
  line-height: 60px;
}
#title-break{
    width: 86%;
    margin-top: 5px;
    border-bottom: slategrey;
}
#menu {
    width: fit-content;
    border-radius: 15px;
    position: fixed;
    margin: 80px 0px 0px 30px;
}
#menu_button{
    padding-bottom: 40px;
    width: fit-content;
}
.trigger-div{
  display: flex;
  justify-content: center;
  margin-top: 60px;

}
.sidenav-trigger{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 360;
  line-height: 32px;
  color: white;
}
.trigger-small{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 360;
  line-height: 32px;
  color: white;
}

.centering-class{
  display: flex;
  justify-content: center;
}
#icon-nav-menu{
  font-size: 25px;
    padding-top: 2px;
}
#icon-nav-menu-small{
  font-size: 25px;
    padding-top: 2px;
}
.bottomtext{
  display: flex;
}
.bottomtext a{
  align-self: flex-end;
}
